# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Entornos virtuales
.venv/
venv/

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Docker
pgdata/

# Data
data/

# Alembic
*.pyc
